version: '3.8'

services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    command: gunicorn league_system.wsgi:application --bind 0.0.0.0:8000 --timeout 300
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "8001:8000"
    env_file:
      - .env.prod

volumes:
  static_volume:
  media_volume:
